body {
    /*color: #f1f1f1;*/
    background: #e7e6e6;
}
.container section {
    margin-bottom: 10px;
}

.thumb {
    /*width: 200px;*/
    text-align: center;
}
.thumb img {
    width: 100%;
    border-radius: 50%;
}

strong {
    font-weight: 500;
}

.contact .card-body div {
    margin: 0.25rem 0;
}
