body {
    /*color: #f1f1f1;*/
    background: #e7e6e6;
}
.container section {
    margin-bottom: 10px;
}

.thumb {
    /*width: 200px;*/
    text-align: center;
}
.thumb img {
    width: 100%;
    border-radius: 50%;
}

strong {
    font-weight: 500;
}

.contact .card-body div {
    margin: 0.25rem 0;
}

.family .card-body div {
    margin: 0.35rem 0;
}
.banner {
    position: relative;
    color: #fff;
    background-position: center;
    background-image: url("./images/banner-min.jpeg");
}
.banner img {
    border: 2px solid #fff;
}
.banner::before {
    content: " ";
    background: rgb(10 7 7 / 53%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
